<!DOCTYPE html>

<body>
    <h2> Hello User, I don't know Frontend Development</h2>
    <form action="/upload/">
        <input type="submit" value="Go to Upload Page" />
    </form>
    <form action="/products/">
        <input type="submit" value="Go to Products Page" />
    </form>
    <form action="/clear_db/">
        <input type="submit" value="Go to DB Deletion Page" />
    </form>
    <form action="/webhooks/">
        <input type="submit" value="Go to Webhooks Page" />
    </form>
</body>

</html>