<!DOCTYPE html>

<body>
    <h2> Hello User, I don't know Frontend Development</h2>
    <form action="http://127.0.0.1:8000/upload/">
        <input type="submit" value="Go to Upload Page" />
    </form>
    <form action="http://127.0.0.1:8000/products/">
        <input type="submit" value="Go to Products Page" />
    </form>
    <form action="http://127.0.0.1:8000/clear_db/">
        <input type="submit" value="Go to DB Deletion Page" />
    </form>
    <form action="http://127.0.0.1:8000/webhooks/">
        <input type="submit" value="Go to Webhooks Page" />
    </form>
</body>

</html>