<!DOCTYPE html>

<body>
    <h2> Hello User, I don't know Frontend Development</h2>
    <form action="https://fulfil-products.herokuapp.com/upload/">
        <input type="submit" value="Go to Upload Page" />
    </form>
    <form action="https://fulfil-products.herokuapp.com/products/">
        <input type="submit" value="Go to Products Page" />
    </form>
    <form action="https://fulfil-products.herokuapp.com/clear_db/">
        <input type="submit" value="Go to DB Deletion Page" />
    </form>
    <form action="https://fulfil-products.herokuapp.com/webhooks/">
        <input type="submit" value="Go to Webhooks Page" />
    </form>
</body>

</html>